---
// QR Code Redirect Page
// Change the URL below anytime to repoint your QR code
const redirectUrl = "https://www.kickstarter.com/projects/panopticoncomic/panopticon-1";
---
<html>
  <head>
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <link rel="canonical" href={redirectUrl} />
    <title>Redirecting to Panopticon Kickstarter...</title>
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>Panopticon on Kickstarter</a>...</p>
  </body>
</html>
